<% provide(:title,"Rooms")%>
<body style="background: #eef3f7">
  <div class="row">
   <div class="md-stepper-horizontal orange">
      <div class="md-step ok">
        <div class="md-step-circle"><span>1</span></div>
        <div class="md-step-title">User information</div>
        <div class="md-step-bar-left"></div>
        <div class="md-step-bar-right"></div>
      </div>
      <div class="md-step ok">
        <div class="md-step-circle"><span>2</span></div>
        <div class="md-step-title">Payment details</div>
        <div class="md-step-bar-left"></div>
        <div class="md-step-bar-right"></div>
      </div>
      <div class="md-step active">
        <div class="md-step-circle"><span>3</span></div>
        <div class="md-step-title">Service Booked confirm</div>
        <div class="md-step-bar-left"></div>
        <div class="md-step-bar-right"></div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row" >
        <div class="col-md-12">
            <div class=" review_listing">
                <h3 class = "success-text"><i class="fas fa-check-circle"></i> Service booked successful</h3>
                <hr>
                <div class="well confident-message m-t-1 m-b-0">
                    <ul class="list-default m-b-0" data-bind="foreach: messageItemList()">
                        <li data-bind="html: $data.text, css: $data.className" class="chosen-to-pay-by">You booked this service<%= @service.name %> at <%= Time.now %></li>
                    <!--    <li data-bind="html: $data.text, css: $data.className" class="note-that-choosing-to-pay-by"></li>-->
                    </ul>
                </div>
                <hr>
                 <%= link_to "Homepage", root_path, {class: "btn btn-primary btn-sm"} %>
            </div>
        </div>
    </div>
  </div>
</body>