<div class="full-row packages_home">
  <div class="title-row">
    <div class="title-row-content">
      <span class="title-row-before"></span>
      <h2 class="text-uppercase"><a href="#">Our Popular Destination</a></h2>
      <span class="title-row-after"></span>
      <p class="text-danger text-center title-caption">Discover our best packages in many destinations</p>
    </div>
  </div>
</div>
<div class="container packages_home">
  <div class="package_content">
    <div class="col-xs-12 col-sm-6 col-md-4 package_item">
      <div class="package_item_content">
          <%= link_to image_tag("packages/sapa.jpg", alt: "Sapa", class: "img-responsive"), "#" %>
          <div class="thumb_content fullwidth">
              <div class="thumb_title">
                  <div class="tour_country">
                      Lao Cai, Viet Nam
                  </div>
                  <h3>Sa Pa</h3>
              </div>
              <div class="thumb_meta">
                <div class="tour_days">
                    Hotel
                </div>
                <div class="tour_price">
                    30
                </div>
              </div>
          </div>
      </div>
    </div>
    <div class="col-xs-10 col-sm-6 col-md-4 package_item">
      <div class="package_item_content">
          <%= link_to image_tag("packages/phuquoc.jpg", alt: "Sapa", class: "img-responsive"), "#" %>
          <div class="thumb_content fullwidth">
              <div class="thumb_title">
                  <div class="tour_country">
                      Kien Giang, Viet Nam
                  </div>
                  <h3>Phu Quoc</h3>
              </div>
              <div class="thumb_meta">
                <div class="tour_days">
                    Hotel
                </div>
                <div class="tour_price">
                    30
                </div>
              </div>
          </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 package_item">
      <div class="package_item_content">
          <%= link_to image_tag("packages/quynhon.jpg", alt: "Sapa", class: "img-responsive"), "#" %>
          <div class="thumb_content fullwidth">
              <div class="thumb_title">
                  <div class="tour_country">
                      Quy Nhon, Viet Nam
                  </div>
                  <h3>Quy Nhon</h3>
              </div>
              <div class="thumb_meta">
                <div class="tour_days">
                    Hotel
                </div>
                <div class="tour_price">
                    30
                </div>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>
