<div class="container clearfix" style="padding: 100px 0 0 0">
  <div class="page_title">
    <h1>
      Giới thiệu
    </h1>
  </div>
  <p><strong>Giới thiệu</strong></p>
<p>Chúng tôi, những người phục vụ tận tụy mang đến cho bạn trải nghiệm tốt nhất. 
</p>
<p><strong>Tên</strong></p>
<p>Booking CONFASCHE</p>
<p><strong>THÔNG TIN DOANH NGHIỆP</strong></p>
<p><strong>Chi tiết về doanh nghiệp</strong></p>
<p>Bãi đậu xe: Trên đường, bãi đỗ xe và người phục vụ bãi đỗ</p>
<p>Vốn điều lệ 2018: 1 tỷ đồng</p>
<p>Được tạo vào: 2018</p>
<p>Nhiệm vụ: Tạo nên sự khác biệt trong bạn.</p>
<p><strong>THÔNG TIN LIÊN HỆ</strong></p>
<p><img alt="" >&nbsp;Gọi <strong>19000364</strong></p>
<p>m.me/meo4shop</p>
<p>meo4shop@gmail.com</p>
<p><strong>THÔNG TIN KHÁC</strong></p>
<p><strong>Giới thiệu</strong></p>
<p>CONFASCHE<br>
Phone: +84 69696969<br>
headquarters: 81 Tran Thai Tong, Cau Giay Dtr, Hanoi...&nbsp;<a data-ft="{&quot;tn&quot;:&quot;e&quot;}" href="lienhe.html" onclick="var func = function(e) { e.preventDefault(); }; var parent = Parent.byClass(this, &quot;text_exposed_root&quot;); if (parent &amp;&amp; parent.getAttribute(&quot;id&quot;) == &quot;id_5ba5c588372e60d03396717&quot;) { CSS.addClass(parent, &quot;text_exposed&quot;); Arbiter.inform(&quot;reflow&quot;); }; func(event); " role="button">Xem thêm</a></p>
<p>Tuyên bố quyền sở hữu và quyền tác giả</p>
<p>Products</p>
<p>Web booking hotel<br>
with convinient, fast and cheap service</p>
<p style="text-align: justify;">&nbsp;</p>
</div>