<div class="container" style="padding: 20px 0 0 0">
    <p><h3>chính sách bảo mật và điều khoản</h3></p>
    <p><h4>Khi sử dụng dịch vụ của chúng tôi, bạn tin tưởng cung cấp thông tin của bạn cho chúng tôi. Chúng tôi hiểu rằng đây là một trách nhiệm lớn và chúng tôi nỗ lực bảo vệ thông tin của bạn cũng như để bạn nắm quyền kiểm soát.</h4><br><h5>Chính sách bảo mật này nhằm mục đích giúp bạn hiểu rõ những thông tin chúng tôi thu thập, lý do chúng tôi thu thập và cách bạn có thể cập nhật, quản lý, xuất và xóa thông tin của mình.Chúng tôi phát triển một loạt các dịch vụ giúp hàng trăm nghìn người hàng ngày có những trải nghiệm thoải mái khi sử dụng các dịch vụ tiện lợi. Các dịch vụ của chúng tôi gồm có:</h5></p>
    <p><strong>1. Đặt phòng tiện lợi<br>
			2. Thanh toán thông qua tài khoản ngân hàng<br>
			3. Thanh toán trực tiếp tại khách sạn<br>
			4. Lọc phòng theo giá và theo đánh giá</strong></p>
    
    <br>
    <p><h3>Liên lạc với bạn</h3></p>
    <p><h5>Chúng tôi sử dụng thông tin thu thập được, chẳng hạn như địa chỉ email của bạn, để tương tác trực tiếp với bạn. Ví dụ: chúng tôi có thể gửi cho bạn thông báo nếu phát hiện thấy hoạt động đáng ngờ, chẳng hạn như nỗ lực đăng nhập vào Tài khoản CONFASCHE của bạn từ một vị trí bất thường. Ngoài ra, chúng tôi có thể thông báo cho bạn biết về các thay đổi hoặc cải tiến sắp tới đối với dịch vụ của chúng tôi. Nếu bạn liên hệ với CONFASCHE, chúng tôi sẽ lưu một bản ghi về yêu cầu của bạn để giúp giải quyết bất kỳ vấn đề nào mà bạn có thể gặp phải.</h5><br></p>

    <p><h3>Quản lý, xem lại và cập nhật thông tin của bạn</h3></p>
    <p><h5>Khi đã đăng nhập, bạn luôn có thể xem lại và cập nhật thông tin bằng cách truy cập vào các dịch vụ bạn sử dụng.</h5><br></p>

    <p><h3>Xuất, loại bỏ và xóa thông tin của bạn</h3></p>
    <p><h5>bạn hoàn toàn có quyền xóa sạch thông tin của chính bạn. Khi đó chúng tôi sẽ không còn thông tin gì về bạn</h5><br></p>


    <em><strong>Chú ý:</strong></em>&nbsp;Sau khi thanh toán bằng hình thức chuyển khoản hoặc thanh toán trực tuyến, Quý khách hàng nên liên lạc với bộ phận bán hàng của <strong>CONFASCHE&nbsp;</strong>theo thông tin liên hệ của các <strong>CONFASCHE</strong> như dưới đây để thông báo về việc Quý khách đã thực hiện việc thanh toán tiền. <strong>CONFASCHE</strong> sẽ kiểm tra tiền về tài khoản và thực hiện việc gửi hàng&nbsp;cho Quý khách.</p>
  </div>
  <br>