<div class="container" style="padding: 20px 0 0 0">
    <p><h3>Chính sách Thanh toán</h3></p>
    <p>Khi đồng ý sử dụng các sản phẩm, dịch vụ của <strong>CONFASCHE</strong>, Quý khách hàng sẽ phải thực hiện việc thanh toán cho <strong>CONFASCHE</strong>. Chúng tôi có 2 hình thức thanh toán như sau:</p>
    <p><strong>1. Chuyển khoản qua tài khoản ngân hàng</strong></p>
    <p>Thanh toán: Quý khách có thể chuyển tiền thanh toán tới một trong các tài khoản sau:</p>
    <p>Chủ tài khoản: <strong>Le Minh Quang </strong></p>
    <ul>
      <li>Số tài khoản tại Ngân hàng Vietcombank - Hanoi- Thanh Ha: 0071 00087 3650</li>
      <li>Số tài khoản tại Ngân hàng Agribank - Chi nhánh Thanh Hoa: 1606 205 004 175</li>
      <li>Số tài khoản tại Ngân hàng Viettinbank - Hanoi- Hai Ba Trung: 1901 503289</li>
    </ul>
    <p><strong>2. Thanh toán bằng tiền mặt</strong></p>
    <p>Thanh toán bằng tiền mặt trực tiếp cho nhân viên bán hàng tại hotel. Lưu ý, khách hàng chỉ thanh toán cho nhân viên của <strong>HOTEL&nbsp;</strong>khi có đủ hóa đơn bán hàng<br>
    <br>
    <em><strong>Chú ý:</strong></em>&nbsp;Sau khi thanh toán bằng hình thức chuyển khoản hoặc thanh toán trực tuyến, Quý khách hàng nên liên lạc với bộ phận bán hàng của <strong>CONFASCHE&nbsp;</strong>theo thông tin liên hệ của các <strong>CONFASCHE</strong> như dưới đây để thông báo về việc Quý khách đã thực hiện việc thanh toán tiền. <strong>CONFASCHE</strong> sẽ kiểm tra tiền về tài khoản và thực hiện việc gửi hàng&nbsp;cho Quý khách.</p>
  </div>
  <br>