<% provide :title, t("sign_up") %>
<% provide :button_text, t("create_account") %>
<div class="full-row page-content">
    <div class="container no-padding">
        <div class="main-contain-wrapper">
            <div class="m-grid__item m-grid__item--fluid  m-grid__item--order-tablet-and-mobile-1  m-login__wrapper">
                <div class="m-login__body">
                    <div class="m-login__signin">
                        <div class="m-login__title">
                            <h3><%= t "signupnow" %></h3>
                            <p><%= t "fill_full_info" %></p>
                        </div>
                        <%= render "new_form" %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
