<% provide :title, t(".search_results") %>
<%= render "layouts/search_form" %>
<div class="full-row page-content">
  <div class="container no-padding">
    <%= render "layouts/filter_hotel" %>
    <div class="col-xs-12 col-sm-9 page-right">
      <div class="filter-result">
        <div class="filter-result-head">
          <div class="pull-left">
              <h3>Da Nang: 614 properties found – including 108 value deals!</h3>
              <p>3 Reasons to Visit: <a href="#">Marble Mountain</a>, <a href="#">Bà Nà Hills</a> & <a href="#">Hai Van Pass</a></p>
          </div>
        </div>
        <div class="hr"></div>
        <div class="filter-tab">
          <ul class="list-inline list-tab">
            <li><p><%= t "Order_by: " %></p></li>
            <li><a href="#">Price &nbsp;&nbsp<span class="fa fa-sort-desc"></span></a></li>
            <li><a href="#">Star &nbsp;&nbsp;<span class="fa fa-sort-desc"></span></a></li>
            <li><a href="#">Top reviewed &nbsp;&nbsp;<span class="fa fa-sort-desc"></span></a></li>
          </ul>
        </div>
        <div class="hotellist-inner">
          <%= render "layouts/hotel_detail" %>
        </div>
      </div>
    </div>
  </div>
</div>
