@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'css/travel_Icon';
@import 'owl.carousel';
@import 'css/slick';
@import 'css/style';
@import 'bootstrap/glyphicons';
@import 'custom';
