.booking-form{
  margin-left: 100px;
  padding: 50px;
}

.cart-items{
   position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

.booking-container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.btn-checkout{
  width: 100%;
}

label {
  margin-bottom: 10px;
  display: inline-block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}


a {
  color: #2196F3;
}

hr {
  border: 1px solid lightgrey;
}

span.price {
  float: right;
  color: grey;
}