<tr class="nested-fields">
  <td>
    <%= f.file_field :image, class: "hotel-image" %>
    <%= f.hidden_field :image_cache, value: f.object.image_cache %>
  </td>
  <td class="preview-image">
    <% if f.object.image.url.present? %>
      <%= image_tag f.object.image.url, height: 100 %>
    <% end %>
  </td>
  <td>
    <%= link_to_remove_association (t "remove"), f %>
  </td>
</tr>
