<% provide(:title,"Rooms")%>
<%= render "layouts/search_form" %>
<div class="full-row page-content">
  <div class="container no-padding">
    <%= render "layouts/filter_hotel" %>
    <div class="col-xs-12 col-sm-9 page-right">
      <div class="filter-result">
        <%= render "hotel_detail" %>
        <%= render "layouts/room_info" %>
      </div>
    </div>
  </div>
</div>
